/* === Constants === */
:root {
    --black: #181a1b;
    --grey:  #424242;
    --darkerGrey: #2b2b2b;
    --darkestGrey: #202324;
    --white: #e8e6e3;
    --green: #84fab0;
    --blue:  #8fd3f4;
}

/* === Main ===  */
html {
    background-color: var(--black);
}

body, h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

a, a:hover {
    text-shadow: none;
    background-image: none;
}

.underline--magical {
    background-image: linear-gradient(120deg, var(--green) 0%, var(--blue) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.15s ease-in;
}
.underline--magical:hover {
    background-size: 100% 88%;
}

/* === Timeline CSS === */
/* The line */
.vertical-timeline.vertical-timeline-custom-line::before {
  background: var(--darkerGrey);
  margin-bottom: -8px;
}

/* WORK */
/* Work -> Arrow */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-content .vertical-timeline-element-content-arrow {
    border-right: 7px solid var(--grey);
}
/* Work -> Icon */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-icon {
    background: #131516;
    box-shadow: rgb(9, 10, 10) -10px 10px 16px, rgb(29, 32, 33) 10px -10px 16px;
}
/* Work -> Content */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--work .vertical-timeline-element-content {
    padding-top: 2rem;
    background: var(--darkerGrey);
    box-shadow: none;
}

/* EDUCATION */
/* Education -> Arrow */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-content .vertical-timeline-element-content-arrow {
    border-right: 7px solid var(--grey);
}
/* Education -> Icon */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-icon {
    background: #131516;
    box-shadow: rgb(9, 10, 10) -10px 10px 16px, rgb(29, 32, 33) 10px -10px 16px;
}
/* Education -> Content */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--education .vertical-timeline-element-content {
    padding-top: 2rem;
    background: var(--darkerGrey);
    box-shadow: none;
}

/* PUBLICATION */
/* Publication -> Arrow */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--publication .vertical-timeline-element-content .vertical-timeline-element-content-arrow {
    border-right: 7px solid var(--grey);
}
/* Publication -> Icon */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--publication .vertical-timeline-element-icon {
    background: #131516;
    box-shadow: rgb(9, 10, 10) -10px 10px 16px, rgb(29, 32, 33) 10px -10px 16px;
}
/* Publication -> Content */
.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element--publication .vertical-timeline-element-content {
    padding-top: 2rem;
    background: var(--darkerGrey);
    box-shadow: none;
}

